{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ByePassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/log.css' %}">
    
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="logTitle">
            <h1>LOG ITEM</h1>

        </div>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">NO</th>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">TIMESTAMP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>19489FA</td>
                    <td>Iphone-A</td>
                    <td>Connected</td>
                    <td>13.00 12/12/2019</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>19489FA</td>
                    <td>Iphone-A</td>
                    <td>Connected</td>
                    <td>13.00 12/12/2019</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>19489FA</td>
                    <td>Iphone-A</td>
                    <td>Connected</td>
                    <td>13.00 12/12/2019</td>
                  </tr>
                </tbody>
              </table>
       

    </div>

    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>