.logTitle{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:20px;
}
.container{
  background-color: white;
}
body{
    background-color: black
}
